.active {
  color: rgb(251, 249, 254);
  color: rgb(226, 4, 246);
}

.links {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.9rem;
  font-weight: 700;
  transition: all 0.4s;
  color: rgb(255, 255, 255);
}

.home {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 1rem;
  font-weight: 700;
  transition: all 0.4s;
  color: rgb(255, 255, 255);

  font-size: 1.3rem;
  transition: all 0.4s;
}
.home:hover {
  color: rgb(226, 4, 246);

  transform: scale(0.95);
}

.links:hover {
  color: rgb(226, 4, 246);

  transform: scale(0.95);
}

.btn {
  transition: all 0.4s;



}
.btn:hover {
  background: rgb(49, 47, 47);
  transform: scale(0.95);
}

.single-box {
  transition: all 0.3s;
}
.single-box:hover {
  transform: scale(0.99);
  background-color: rgb(235, 234, 234);

}
.delete_btn:hover{

  transform: scale(0.95);
  color: rgb(193, 72, 72);
}